/Users/franziska/Documents/__CareerFoundry_Data[[:space:]]Analyst/6_Exercise/Project_Food/03[[:space:]]Scripts/ filter=lfs diff=lfs merge=lfs -text
/Users/franziska/Documents/__CareerFoundry_Data[[:space:]]Analyst/6_Exercise/Project_Food/03[[:space:]]Scripts/githup_health_ingredients.ipynb filter=lfs diff=lfs merge=lfs -text
